#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.main_menu{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.page-title{
  color: #000;
}

/*logo css*/
.menu {
  background-color: #0e0e57;
  color: #0e0e57 !important;
  padding: 0 20%;
  border-radius: 5px;
}

.menu-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.menu-list li {
  margin-right: 10px;
}

.menu-list a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.menu-list a:hover {
  text-decoration: underline;
}
.footer-text{
  color:#0e0e57;
}


/* src/App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}



@media only screen and (min-width: 320px) and (max-width: 479px) {
  .logo{
  height: auto;
  padding: 1.5em;
  will-change: filter;
  transition: filter .3s;
  width: 80%;}
  

  }
/* 
For mobile (landscape) */

  @media only screen and (min-width: 480px) and (max-width: 767px) {



  }

/* For tablet */

  @media only screen and (min-width: 768px) and (max-width: 979px) {

 

  }

/* For small desktop */

  @media only screen and (min-width: 980px) and (max-width: 1023px) {



  }

/* For typical desktop */

  @media only screen and (min-width: 1024px) and (max-width: 1199px) {



  }

/* For large desktop */

  @media only screen and (min-width: 1200px) {

 

  }

/* For printers */

  @media print {



  }

/* For screen readers */

  @media speech {



  }

/* //Add Orientation as expression */

  @media only screen and (min-width: 1200px) and (orientation : portrait) {

 

  }
